<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
  
          <ion-item>
            <ion-label>Asignatura 1</ion-label>
            <ion-button slot="end" color="warning" (click)="qrCode()">Generar QR</ion-button>
          </ion-item>
  
          <ion-item>
            <ion-label>Asignatura 2</ion-label>
            <ion-button slot="end" color="warning" (click)="qrCode()">Generar QR</ion-button>
          </ion-item>
  
          <ion-item>
            <ion-label>Asignatura 3</ion-label>
            <ion-button slot="end" color="warning" (click)="qrCode()">Generar QR</ion-button>
          </ion-item>
  
          <ion-item>
            <ion-label>Asignatura 4</ion-label>
            <ion-button slot="end" color="warning" (click)="qrCode()">Generar QR</ion-button>
          </ion-item>
  
        </ion-list>
      </ion-col>      
    </ion-row>
  
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-text><small>DuocUC 2022 | Todos los derechos reservados</small></ion-text>
  </ion-toolbar>
</ion-footer>
